.btn{
  border-radius: 0px;
  color: white;
  font-weight: bold;
  background-color: #1b2c4a;
}
.form-control{
  border-radius: 0px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.field{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.field-description{
  color: grey;
  font-size: 12px;
}
.submit{
  margin:1rem;
}

.header{
  padding:0.5rem 1rem;
  background-color: #1b2c4a;
  color: whitesmoke;
  font-weight: bold;

}

.spc{
  margin-top:5rem;
}

#root__title{
  color: darkred;
}